lambda.zip
.terraform/
.DS_Store
build

### Terraform State ###
# State files should be ignored on all branches except `staging-env` and `production-env`
# terraform.tfstate.d
# .terraform.lock.hcl
# terraform.tfstate
# terraform.tfstate.backup
### Terraform State End ###
